**/.DS_Store
**/node_modules
**/.github
**/*.txt
**/package-lock.json
**/*.zip

**/prompts.*

**/*depr*

**/*test*

**/client_a/
**/client_b/

hw3/Descriptions.md
hw3/prompts_client.md
hw3/prompts_server.md