@import './variables';

// Custom global styles
body {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// ==== NavBar ===

#basic-navbar-nav .ms-auto.navbar-nav.nav-pills .nav-link.active {
  background-color: #224c8c;
  color: white;
}

// ==== Home ====

// ---- Search Bar ----
.btn.btn-primary.search-btn {
  background-color: #224c8c !important;
}



// ---- Search Results (Cards) ----
.myCard {
  min-width: 200px !important;  // if the class is not defined in bootstrap, you need to use !important
  cursor: pointer !important;
  &:hover {
    background-color: $primary-color !important;
  }
}

.myCard.active-card {   // why?
  background-color:  $primary-color !important;
}

.myFavIcon {
  background-color: rgba(0, 0, 0, 0) !important;
}

.myFavIconOnCard {
  background-color: $secondary-color !important;
}

// ---- Artist Info ----
#info-spinner { // .spinner-border {
  color: $primary-color; // #205375;
}

.container-fluid .container .nav.nav-pills.nav-fill  {
  button.nav-link {
    color: $primary-color; // #205375;
  }
  button.nav-link.active {
    background-color: $primary-color; // #205375;
    color: white;
  }
}


// ==== Login & Register ====
.login-container {
  width: 400px !important;
  padding: 30px !important;
}
.links {
  color: #26569f;
}


// ==== favorite page ====
.favorites-page.py-4 {
  .spinner-border {
    color: $primary-color !important; // #205375;
  }
}



// ---- Footer ----
.footer {
  position: fixed;  // not absolute. If absolute, the footer scrolled with the content when height grows
  bottom: 0;
  left: 0;
  width: 100%;
  // height: 30px;  // no need. set class to py-2 instead of py-3 makes it smaller
  z-index: 100;
  background-color: rgb(10, 26, 36);
  color: #ffffff;
  font-size: 14px;

  .footer-link {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 5px;

    &:hover {
      opacity: 0.8;
    }
  }

  .footer-logo {
    height: 20px; // Adjust as needed
    width: auto;
  }
}